<div class='centered'>
  <label>Base</label>
  {{input
    class='borderless'
    type='number'
    value=number
    onChange=(action (mut power))}}

  <br />

  <label>Power</label>
  {{input
    class='borderless'
    type='number'
    value=power
    onChange=(action (mut power))}}

  <br />

  <button onclick={{action 'increment'}}>
    Increment
  </button>

  <button onclick={{action 'decrement'}}>
    Decrement
  </button>

  <h2>
    {{number}}<sup>{{power}}</sup> = {{result}}
  </h2>

</div>
