{{input
  class='borderless'
  type='number'
  value=power
  onChange=(action (mut power))}}

<button onClick={{action 'increment'}}>
  Increment
</button>

{{number}}<sup>{{power}}</sup> = {{result}}

<button onClick={{action 'decrement'}}>
  Decrement
</button>
