{{notification-container position="top-right"}}


{{button-counter}}
<br />

Current Route: {{currentPath}}

<br />
<button onClick={{transition-to "application"}}>
  Home
</button>

{{#link-to 'some-route' class='some-route'}}
  Some Route
{{/link-to}}

{{#link-to 'data-route' class='data-route'}}
  Route with Data
{{/link-to}}

{{#link-to 'ember-concurrency-demo' class='data-route'}}
  Concurrency
{{/link-to}}


{{outlet}}
